name: Sync to Hugging Face Hub
on:
  push:
    branches: [main]
  workflow_dispatch: # Allows manual trigger from GitHub UI
jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true # Include this if you have large files tracked with Git-LFS
      - name: Sync to Hugging Face Space
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git push "https://<anjalipanchal0219>:$HF_TOKEN@huggingface.co/spaces/<anjalipanchal0219>/<ML-Project>" main
